.carousel.slide {
  margin: 20px 0;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.features .glyphicon {
  font-size: 32px;
}


nav .navbar-nav {
  width: 100%;
  text-align: center;
}
nav .navbar-nav > li {
    display: inline-block;
    float: none;
}

nav .navbar-nav > li > a {
      padding-left: 30px;
      padding-right: 30px;
}
